# Python
__pycache__/
*.pyc
.python-version
.venv/
venv/

# Notebooks
notebook/
*.ipynb

# IDE 
.idea/
.vscode/

# 数据文件
data/
*.csv
*.pkl
*.h5

# saved tokenizer
fingerprint.txt
tokens.json
reversed_tokens.json

# 模型文件
trained_models/
*.pt
*.bin
checkpoints/
*.ckpt

# test file
test.py