# Python
__pycache__/
*.pyc
.python-version
.venv/
venv/

# Notebooks
notebook/
*.ipynb

# IDE 
.idea/
.vscode/

# 数据文件
data/
*.csv
*.xlsx
*.pkl
*.h5
*.parquet

# 模型文件
trained_models/
*.pt
*.bin
checkpoints/
*.ckpt

# test file
test.py
test/
index.txt
size.txt
src_counts.txt
tgt_counts.txt